<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidateAdmin</servlet-name>
        <servlet-class>oes.controller.ValidateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateStudent</servlet-name>
        <servlet-class>oes.controller.ValidateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InstructionInsert</servlet-name>
        <servlet-class>oes.controller.InstructionInsert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateAdmin</servlet-name>
        <url-pattern>/ValidateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateStudent</servlet-name>
        <url-pattern>/ValidateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InstructionInsert</servlet-name>
        <url-pattern>/InstructionInsert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
